<div class="container mt-5">
  <h4>Internal Server Error -</h4>

  <ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{ error.message }}</h5>
    <p class="font-weight-bold">Note: Our engineers are working on the error</p>
    <p>You can try fixing the error by doing the following:</p>
    <ol>
      <li>Open chrome dev tools</li>
      <li>Inspect the network</li>
      <li>Check failing request</li>
      <li>Examine this request URL</li>
    </ol>
    <p>Following is the stack trace - Investigation starts here:</p>
    <code class="mt-5" style="background-color: whitesmoke">{{
      error.details
    }}</code>
  </ng-container>
</div>
